{{template "head" .}}
{{template "prom_content_head" .}}
<h1>My Macbook Pro Metrics</h1>

<strong>Server Status:</strong> {{ template "prom_query_drilldown" (args "up{job='node-exporter-local'}") }}
<br />
<br />
<strong>Current CPU Usage:</strong> {{ template "prom_query_drilldown" (args "sum(rate(node_cpu_seconds_total{instance='host.docker.internal:9100', mode!='idle'}[5m])) * 100 / 2" "%") }}
<br />
<br />
<strong>Current Memory Usage:</strong> {{ template "prom_query_drilldown" (args "100 * (1 - (avg_over_time(node_memory_free_bytes{instance='host.docker.internal:9100'}[5m]) / avg_over_time(node_memory_total_bytes{instance='host.docker.internal:9100'}[5m])))" "%") }}
{{template "prom_content_tail" .}}
{{template "tail"}}

{{template "head" .}}

{{template "prom_right_table_head"}}
<tr>
    <th>MyJob</th>
    <th>{{ template "prom_query_drilldown" (args "sum(up{job='node-exporter-local'})") }}
        / {{ template "prom_query_drilldown" (args "count(up{job='node-exporter-local'})") }}
    </th>
</tr>
<tr>
    <td>Battery Full Charge in</td>
    <td>{{ template "prom_query_drilldown" (args
        "node_power_supply_time_to_full_seconds{job='node-exporter-local', power_supply='InternalBattery-0'} / 60"
        " minutes" "humanizeNoSmallPrefix") }}
    </td>
</tr>
<tr>
    <td>Battery Current Charge</td>
    <td>{{ template "prom_query_drilldown" (args
        "node_power_supply_current_capacity{power_supply='InternalBattery-0'}"
        "%" "humanize1024") }}
    </td>
</tr>
{{template "prom_right_table_tail"}}


{{template "prom_content_head" .}}
<h1>Node Exporter</h1>

<h3>Queries</h3>
<div id="memoryGraph"></div>
</br>
<div id="cpuGraph"></div>
<script>
    new PromConsole.Graph({
        node: document.querySelector("#memoryGraph"),
        expr: "100 * (1 - (avg_over_time(node_memory_free_bytes[5m]) / avg_over_time(node_memory_total_bytes[5m])))",
        name: "Memory",
        yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yUnits: "%",
        yTitle: "Memory"
    })

    new PromConsole.Graph({
        node: document.querySelector("#cpuGraph"),
        expr: "sum(rate(node_cpu_seconds_total{instance='host.docker.internal:9100', mode!='idle'}[5m])) * 100 / 2",
        name: "CPU",
        yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yUnits: "%",
        yTitle: "CPU"
    })
</script>

{{template "prom_content_tail" .}}

{{template "tail"}}
